In [1]:
#importing dependecies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf


#import input dataset
attrition_df= pd.read_csv('HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

Start Preprocessing.

In [2]:
#generate categorical variable list to encode later
attrition_cat= list(attrition_df.dtypes[attrition_df.dtypes=='object'].index)

attrition_cat

['Attrition',
 'BusinessTravel',
 'Department',
 'EducationField',
 'Gender',
 'JobRole',
 'MaritalStatus',
 'Over18',
 'OverTime']

In [3]:
#check number of unique values in each column. more than 10 variables would requirek bucketing
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [7]:
#encode more than one variable using the attrition_cat variable list

#create a OneHotEncoder instance
enc= OneHotEncoder(sparse=False)

#fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

#add the encoded variable names to the dataframe
encode_df.columns= enc.get_feature_names(attrition_cat)
encode_df.head()

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [8]:
#merge OneHotEncoded features and drop the originals
attrition_df= attrition_df.merge(encode_df, left_index=True, right_index=True)
attrition_df= attrition_df.drop(attrition_cat, 1)
attrition_df.head()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [11]:
#split the preprocessed data into our features and target arrays
y= attrition_df['Attrition_Yes'].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

#split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test= train_test_split(X, y, random_state=78)

In [12]:
#Create a standard scaler instance
scaler= StandardScaler()

#fit the standard scaler
X_scaler= scaler.fit(X_train)

#scale the data
X_train_scaled= X_scaler.transform(X_train)
X_test_scaled= X_scaler.transform(X_test)

Preprocessing complete. start defining the model

In [15]:
#define the model - deep neural net
number_input_features= len(X_train[0])
hidden_nodes_layer1= 8
hidden_nodes_layer2= 5

nn= tf.keras.models.Sequential()

#first hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

#second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

#output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

#check the structure of hte model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 448
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [16]:
#compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

defining model complete. start training the model

In [17]:
#train the model
fit_model= nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
35/35 [==============================] - 0s 881us/step - loss: 756.4064 - accuracy: 0.1759
Epoch 2/100
35/35 [==============================] - 0s 851us/step - loss: 296.4540 - accuracy: 0.2331
Epoch 3/100
35/35 [==============================] - 0s 851us/step - loss: 54.3038 - accuracy: 0.6935
Epoch 4/100
35/35 [==============================] - 0s 792us/step - loss: 25.5205 - accuracy: 0.7527
Epoch 5/100
35/35 [==============================] - 0s 792us/step - loss: 16.3855 - accuracy: 0.7289
Epoch 6/100
35/35 [==============================] - 0s 763us/step - loss: 10.4954 - accuracy: 0.7780
Epoch 7/100
35/35 [==============================] - 0s 763us/step - loss: 7.4664 - accuracy: 0.7696
Epoch 8/100
35/35 [==============================] - 0s 821us/step - loss: 5.3395 - accuracy: 0.8043
Epoch 9/100
35/35 [==============================] - 0s 733us/step - loss: 4.2504 - accuracy: 0.7632
Epoch 10/100
35/35 [==============================] - 0s 704us/step - loss: 3.5455 - accuracy: 0.7788
Epoch 11/100
35/35 [==============================] - 0s 763us/step - loss: 2.2539 - accuracy: 0.8042
Epoch 12/100
35/35 [==============================] - 0s 821us/step - loss: 1.5591 - accuracy: 0.7832
Epoch 13/100
35/35 [==============================] - 0s 792us/step - loss: 1.1602 - accuracy: 0.7934
Epoch 14/100
35/35 [==============================] - 0s 733us/step - loss: 1.0477 - accuracy: 0.7736
Epoch 15/100
35/35 [==============================] - 0s 733us/step - loss: 0.8147 - accuracy: 0.8005
Epoch 16/100
35/35 [==============================] - 0s 821us/step - loss: 0.7347 - accuracy: 0.7959
Epoch 17/100
35/35 [==============================] - 0s 763us/step - loss: 0.7141 - accuracy: 0.7976
Epoch 18/100
35/35 [==============================] - 0s 909us/step - loss: 1.0342 - accuracy: 0.7290
Epoch 19/100
35/35 [==============================] - 0s 763us/step - loss: 0.5600 - accuracy: 0.8296
Epoch 20/100
35/35 [==============================] - 0s 704us/step - loss: 0.7442 - accuracy: 0.7378
Epoch 21/100
35/35 [==============================] - 0s 704us/step - loss: 0.8131 - accuracy: 0.7974
Epoch 22/100
35/35 [==============================] - 0s 733us/step - loss: 0.5178 - accuracy: 0.8209
Epoch 23/100
35/35 [==============================] - 0s 763us/step - loss: 0.5272 - accuracy: 0.8113
Epoch 24/100
35/35 [==============================] - 0s 704us/step - loss: 0.5377 - accuracy: 0.8020
Epoch 25/100
35/35 [==============================] - 0s 821us/step - loss: 0.6109 - accuracy: 0.7801
Epoch 26/100
35/35 [==============================] - 0s 675us/step - loss: 0.5343 - accuracy: 0.8278
Epoch 27/100
35/35 [==============================] - 0s 675us/step - loss: 0.6457 - accuracy: 0.7673
Epoch 28/100
35/35 [==============================] - 0s 792us/step - loss: 0.8729 - accuracy: 0.7611
Epoch 29/100
35/35 [==============================] - 0s 733us/step - loss: 0.5468 - accuracy: 0.8075
Epoch 30/100
35/35 [==============================] - 0s 733us/step - loss: 0.4858 - accuracy: 0.8270
Epoch 31/100
35/35 [==============================] - 0s 704us/step - loss: 0.6273 - accuracy: 0.7629
Epoch 32/100
35/35 [==============================] - 0s 704us/step - loss: 0.5042 - accuracy: 0.8197
Epoch 33/100
35/35 [==============================] - 0s 675us/step - loss: 0.4632 - accuracy: 0.8420
Epoch 34/100
35/35 [==============================] - 0s 763us/step - loss: 0.5308 - accuracy: 0.7921
Epoch 35/100
35/35 [==============================] - 0s 763us/step - loss: 0.4573 - accuracy: 0.8221
Epoch 36/100
35/35 [==============================] - 0s 733us/step - loss: 0.4506 - accuracy: 0.8174
Epoch 37/100
35/35 [==============================] - 0s 733us/step - loss: 0.4218 - accuracy: 0.8318
Epoch 38/100
35/35 [==============================] - 0s 752us/step - loss: 0.4656 - accuracy: 0.8101
Epoch 39/100
35/35 [==============================] - 0s 1ms/step - loss: 0.5740 - accuracy: 0.7967
Epoch 40/100
35/35 [==============================] - 0s 675us/step - loss: 0.4895 - accuracy: 0.8070
Epoch 41/100
35/35 [==============================] - 0s 699us/step - loss: 0.4103 - accuracy: 0.8379
Epoch 42/100
35/35 [==============================] - 0s 675us/step - loss: 0.4685 - accuracy: 0.8203
Epoch 43/100
35/35 [==============================] - 0s 821us/step - loss: 0.4507 - accuracy: 0.8108
Epoch 44/100
35/35 [==============================] - 0s 880us/step - loss: 0.5237 - accuracy: 0.7985
Epoch 45/100
35/35 [==============================] - 0s 821us/step - loss: 0.6801 - accuracy: 0.7797
Epoch 46/100
35/35 [==============================] - 0s 821us/step - loss: 0.7397 - accuracy: 0.7688
Epoch 47/100
35/35 [==============================] - 0s 792us/step - loss: 0.4660 - accuracy: 0.8245
Epoch 48/100
35/35 [==============================] - 0s 704us/step - loss: 0.6508 - accuracy: 0.7871
Epoch 49/100
35/35 [==============================] - 0s 733us/step - loss: 0.6314 - accuracy: 0.7828
Epoch 50/100
35/35 [==============================] - 0s 792us/step - loss: 0.6966 - accuracy: 0.7773
Epoch 51/100
35/35 [==============================] - 0s 729us/step - loss: 0.5523 - accuracy: 0.8021
Epoch 52/100
35/35 [==============================] - 0s 733us/step - loss: 0.5706 - accuracy: 0.8160
Epoch 53/100
35/35 [==============================] - 0s 675us/step - loss: 0.4783 - accuracy: 0.8164
Epoch 54/100
35/35 [==============================] - 0s 733us/step - loss: 0.4530 - accuracy: 0.8367
Epoch 55/100
35/35 [==============================] - 0s 763us/step - loss: 0.4097 - accuracy: 0.8388
Epoch 56/100
35/35 [==============================] - 0s 792us/step - loss: 0.7667 - accuracy: 0.7897
Epoch 57/100
35/35 [==============================] - 0s 880us/step - loss: 0.5172 - accuracy: 0.8131
Epoch 58/100
35/35 [==============================] - 0s 851us/step - loss: 0.4578 - accuracy: 0.8175
Epoch 59/100
35/35 [==============================] - 0s 851us/step - loss: 0.4608 - accuracy: 0.8101
Epoch 60/100
35/35 [==============================] - 0s 851us/step - loss: 0.4781 - accuracy: 0.8261
Epoch 61/100
35/35 [==============================] - 0s 851us/step - loss: 0.4532 - accuracy: 0.8229
Epoch 62/100
35/35 [==============================] - 0s 763us/step - loss: 0.3968 - accuracy: 0.8505
Epoch 63/100
35/35 [==============================] - 0s 733us/step - loss: 0.4377 - accuracy: 0.8264
Epoch 64/100
35/35 [==============================] - 0s 675us/step - loss: 0.4498 - accuracy: 0.8333
Epoch 65/100
35/35 [==============================] - 0s 733us/step - loss: 0.4427 - accuracy: 0.8257
Epoch 66/100
35/35 [==============================] - 0s 792us/step - loss: 0.4250 - accuracy: 0.8382
Epoch 67/100
35/35 [==============================] - 0s 851us/step - loss: 0.5578 - accuracy: 0.7718
Epoch 68/100
35/35 [==============================] - 0s 821us/step - loss: 0.4779 - accuracy: 0.8172
Epoch 69/100
35/35 [==============================] - 0s 792us/step - loss: 0.4275 - accuracy: 0.8201
Epoch 70/100
35/35 [==============================] - 0s 792us/step - loss: 0.4550 - accuracy: 0.8277
Epoch 71/100
35/35 [==============================] - 0s 821us/step - loss: 0.4761 - accuracy: 0.7881
Epoch 72/100
35/35 [==============================] - 0s 851us/step - loss: 0.5662 - accuracy: 0.7821
Epoch 73/100
35/35 [==============================] - 0s 1ms/step - loss: 0.7278 - accuracy: 0.7640
Epoch 74/100
35/35 [==============================] - 0s 763us/step - loss: 0.7542 - accuracy: 0.7632
Epoch 75/100
35/35 [==============================] - 0s 704us/step - loss: 0.4431 - accuracy: 0.8279
Epoch 76/100
35/35 [==============================] - 0s 733us/step - loss: 0.4782 - accuracy: 0.8219
Epoch 77/100
35/35 [==============================] - 0s 704us/step - loss: 0.4483 - accuracy: 0.8341
Epoch 78/100
35/35 [==============================] - 0s 704us/step - loss: 0.5287 - accuracy: 0.8072
Epoch 79/100
35/35 [==============================] - 0s 821us/step - loss: 0.4564 - accuracy: 0.8332
Epoch 80/100
35/35 [==============================] - 0s 763us/step - loss: 0.5976 - accuracy: 0.8119
Epoch 81/100
35/35 [==============================] - 0s 733us/step - loss: 0.4033 - accuracy: 0.8475
Epoch 82/100
35/35 [==============================] - 0s 733us/step - loss: 0.4973 - accuracy: 0.8455
Epoch 83/100
35/35 [==============================] - 0s 821us/step - loss: 0.4548 - accuracy: 0.8280
Epoch 84/100
35/35 [==============================] - 0s 704us/step - loss: 0.4857 - accuracy: 0.8046
Epoch 85/100
35/35 [==============================] - 0s 763us/step - loss: 0.4929 - accuracy: 0.8287
Epoch 86/100
35/35 [==============================] - 0s 704us/step - loss: 0.4121 - accuracy: 0.8362
Epoch 87/100
35/35 [==============================] - 0s 1ms/step - loss: 0.6167 - accuracy: 0.7748
Epoch 88/100
35/35 [==============================] - 0s 997us/step - loss: 0.4276 - accuracy: 0.8164
Epoch 89/100
35/35 [==============================] - 0s 939us/step - loss: 0.4072 - accuracy: 0.8319
Epoch 90/100
35/35 [==============================] - 0s 838us/step - loss: 0.4756 - accuracy: 0.8190
Epoch 91/100
35/35 [==============================] - 0s 880us/step - loss: 0.4387 - accuracy: 0.8468
Epoch 92/100
35/35 [==============================] - 0s 880us/step - loss: 0.5330 - accuracy: 0.8097
Epoch 93/100
35/35 [==============================] - 0s 821us/step - loss: 0.4657 - accuracy: 0.8202
Epoch 94/100
35/35 [==============================] - 0s 704us/step - loss: 0.4710 - accuracy: 0.8234
Epoch 95/100
35/35 [==============================] - 0s 733us/step - loss: 0.4556 - accuracy: 0.8166
Epoch 96/100
35/35 [==============================] - 0s 792us/step - loss: 0.4723 - accuracy: 0.8134
Epoch 97/100
35/35 [==============================] - 0s 763us/step - loss: 0.5438 - accuracy: 0.7862
Epoch 98/100
35/35 [==============================] - 0s 763us/step - loss: 0.5378 - accuracy: 0.8189
Epoch 99/100
35/35 [==============================] - 0s 733us/step - loss: 0.4650 - accuracy: 0.8409
Epoch 100/100
35/35 [==============================] - 0s 925us/step - loss: 0.4721 - accuracy: 0.8307

In [18]:
#evaluate the model using test data
model_loss, model_accuracy= nn.evaluate(X_test, y_test, verbose=2)
print(f'loss: {model_loss}, accuracy: {model_accuracy}')

12/12 - 0s - loss: 0.3838 - accuracy: 0.8641
loss: 0.383795827627182, accuracy: 0.864130437374115