In [1]:
#import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

In [2]:
#import dataset
tele_df= pd.read_csv('bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

Eventhough SVM can handle tabular data. Process the data for both models to ensure fairo comparison

In [3]:
#ONE HOT ENCODER
#generate categorical variable list
tele_cat= tele_df.dtypes[tele_df.dtypes=='object'].index.tolist()

#check the number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [5]:
#create one hot encoder instance
enc= OneHotEncoder(sparse=False)

#fit and transform onehotencoder using categorical variable list
encode_df= pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

#add the encoded variable names to the dataframe
encode_df.columns= enc.get_feature_names(tele_cat)
encode_df.head()

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [6]:
#merge encoded features and drop originals
tele_df= tele_df.merge(encode_df, left_index=True, right_index=True)
tele_df= tele_df.drop(tele_cat, 1)
tele_df.head()

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

After cleaning the data. 

find features and target

Split into training and testing sets

standardize numerical variables

In [8]:
#remove loan status target from features data
y= tele_df.Subscribed_yes.values
X= tele_df.drop(columns=['Subscribed_yes', 'Subscribed_no']).values

#split into train/test sets
X_train, X_test, y_train, y_test= train_test_split(X, y, random_state=42, stratify=y)

#create standard scaler instance
scaler= StandardScaler()

#fit the standard scaler
X_scaler= scaler.fit(X_train)

#scale the data
X_train_scaled= X_scaler.transform(X_train)
X_test_scaled= X_scaler.transform(X_test)

Dataset is now ready for both models after standardization

In [9]:
#create SVM model
svm= SVC(kernel='linear')

#train model
svm.fit(X_train, y_train)

#evaluate the model
y_pred= svm.predict(X_test_scaled)
print(f'SVM model accuracy: {accuracy_score(y_test, y_pred):.3f}')

SVM model accuracy: 0.873

In [11]:
#define the model -deep neural net
number_input_features= len(X_train_scaled[0])
hidden_nodes_layer1= 10
hidden_nodes_layer2= 5

nn= tf.keras.models.Sequential()

#first hidden layer
nn.add(tf.keras.layers.Dense(units= hidden_nodes_layer1, input_dim= number_input_features, activation='relu'))

#second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

#output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

#compile the sequential model and customize metrics
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

#train the model
fit_model= nn.fit(X_train_scaled, y_train, epochs=50)

#evaluate model using testing data
model_loss, model_accuracy= nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f'loss: {model_loss}, accuracy: {model_accuracy}')

Epoch 1/50
715/715 [==============================] - 1s 765us/step - loss: 0.4854 - accuracy: 0.8119
Epoch 2/50
715/715 [==============================] - 0s 685us/step - loss: 0.3772 - accuracy: 0.8732
Epoch 3/50
715/715 [==============================] - 0s 676us/step - loss: 0.3731 - accuracy: 0.8719
Epoch 4/50
715/715 [==============================] - 0s 636us/step - loss: 0.3681 - accuracy: 0.8736
Epoch 5/50
715/715 [==============================] - 1s 762us/step - loss: 0.3639 - accuracy: 0.8762
Epoch 6/50
715/715 [==============================] - 1s 749us/step - loss: 0.3640 - accuracy: 0.8751
Epoch 7/50
715/715 [==============================] - 0s 612us/step - loss: 0.3609 - accuracy: 0.8776
Epoch 8/50
715/715 [==============================] - 0s 675us/step - loss: 0.3662 - accuracy: 0.8741
Epoch 9/50
715/715 [==============================] - 0s 655us/step - loss: 0.3696 - accuracy: 0.8719
Epoch 10/50
715/715 [==============================] - 0s 667us/step - loss: 0.3718 - accuracy: 0.8704
Epoch 11/50
715/715 [==============================] - 0s 661us/step - loss: 0.3591 - accuracy: 0.8775
Epoch 12/50
715/715 [==============================] - 0s 613us/step - loss: 0.3640 - accuracy: 0.8741
Epoch 13/50
715/715 [==============================] - 0s 621us/step - loss: 0.3636 - accuracy: 0.8745
Epoch 14/50
715/715 [==============================] - 0s 614us/step - loss: 0.3708 - accuracy: 0.8707
Epoch 15/50
715/715 [==============================] - 0s 628us/step - loss: 0.3705 - accuracy: 0.8711
Epoch 16/50
715/715 [==============================] - 0s 619us/step - loss: 0.3669 - accuracy: 0.8718
Epoch 17/50
715/715 [==============================] - 1s 909us/step - loss: 0.3580 - accuracy: 0.8763
Epoch 18/50
715/715 [==============================] - 1s 915us/step - loss: 0.3625 - accuracy: 0.8737
Epoch 19/50
715/715 [==============================] - 1s 819us/step - loss: 0.3645 - accuracy: 0.8732
Epoch 20/50
715/715 [==============================] - 1s 724us/step - loss: 0.3615 - accuracy: 0.8747
Epoch 21/50
715/715 [==============================] - 0s 587us/step - loss: 0.3557 - accuracy: 0.8768
Epoch 22/50
715/715 [==============================] - 0s 668us/step - loss: 0.3653 - accuracy: 0.8730
Epoch 23/50
715/715 [==============================] - 1s 740us/step - loss: 0.3621 - accuracy: 0.8726
Epoch 24/50
715/715 [==============================] - 0s 620us/step - loss: 0.3689 - accuracy: 0.8697
Epoch 25/50
715/715 [==============================] - 0s 647us/step - loss: 0.3680 - accuracy: 0.8707
Epoch 26/50
715/715 [==============================] - 0s 687us/step - loss: 0.3670 - accuracy: 0.8712
Epoch 27/50
715/715 [==============================] - 0s 600us/step - loss: 0.3616 - accuracy: 0.8732
Epoch 28/50
715/715 [==============================] - 0s 629us/step - loss: 0.3637 - accuracy: 0.8738
Epoch 29/50
715/715 [==============================] - 1s 715us/step - loss: 0.3725 - accuracy: 0.8690
Epoch 30/50
715/715 [==============================] - 0s 675us/step - loss: 0.3697 - accuracy: 0.8692
Epoch 31/50
715/715 [==============================] - 0s 650us/step - loss: 0.3592 - accuracy: 0.8762
Epoch 32/50
715/715 [==============================] - 0s 670us/step - loss: 0.3643 - accuracy: 0.8732
Epoch 33/50
715/715 [==============================] - 0s 606us/step - loss: 0.3632 - accuracy: 0.8736
Epoch 34/50
715/715 [==============================] - 0s 599us/step - loss: 0.3622 - accuracy: 0.8745
Epoch 35/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3563 - accuracy: 0.8765
Epoch 36/50
715/715 [==============================] - 1s 908us/step - loss: 0.3610 - accuracy: 0.8735
Epoch 37/50
715/715 [==============================] - 1s 968us/step - loss: 0.3611 - accuracy: 0.8734
Epoch 38/50
715/715 [==============================] - 1s 810us/step - loss: 0.3592 - accuracy: 0.8743
Epoch 39/50
715/715 [==============================] - 1s 864us/step - loss: 0.3582 - accuracy: 0.8753
Epoch 40/50
715/715 [==============================] - 1s 820us/step - loss: 0.3669 - accuracy: 0.8719
Epoch 41/50
715/715 [==============================] - 1s 719us/step - loss: 0.3634 - accuracy: 0.8724
Epoch 42/50
715/715 [==============================] - 0s 650us/step - loss: 0.3576 - accuracy: 0.8761
Epoch 43/50
715/715 [==============================] - 0s 616us/step - loss: 0.3594 - accuracy: 0.8755
Epoch 44/50
715/715 [==============================] - 1s 699us/step - loss: 0.3619 - accuracy: 0.8744
Epoch 45/50
715/715 [==============================] - 0s 664us/step - loss: 0.3611 - accuracy: 0.8743
Epoch 46/50
715/715 [==============================] - 0s 619us/step - loss: 0.3662 - accuracy: 0.8729
Epoch 47/50
715/715 [==============================] - 0s 691us/step - loss: 0.3647 - accuracy: 0.8726
Epoch 48/50
715/715 [==============================] - 0s 630us/step - loss: 0.3692 - accuracy: 0.8702
Epoch 49/50
715/715 [==============================] - 1s 702us/step - loss: 0.3624 - accuracy: 0.8728
Epoch 50/50
715/715 [==============================] - 0s 672us/step - loss: 0.3606 - accuracy: 0.8744
239/239 - 0s - loss: 0.3667 - accuracy: 0.8731
loss: 0.36673232913017273, accuracy: 0.8730971217155457